:root {
	/* COLORS */
	--white: #e9e9e9;
	--gray: #333;
	--black: #000;
	--white: #388fff30;

	/* RADII */
	--button-radius: 1.333rem;
}

html,body {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.sk-rotating-plane {
    display: none;
    width: 80px;
    height: 80px;
    margin: auto;
    background-color: white;
    -webkit-animation: sk-rotating-plane 1.2s infinite ease-in-out;
    animation: sk-rotating-plane 1.2s infinite ease-in-out;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -80px;
}

.sk-rotating-plane.active {
    display: block;
}

@keyframes sk-rotating-plane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes login-small {
    0% {
        transform: scale(1);
        -moz-transform: scale(1);
        /* Firefox 4 */
        -webkit-transform: scale(1);
        /* Safari 和 Chrome */
        -o-transform: scale(1);
        /* Opera */
        -ms-transform: scale(1);
        /* IE 9 */
    }

    100% {
        transform: scale(0.2);
        -moz-transform: scale(0.1);
        /* Firefox 4 */
        -webkit-transform: scale(0.2);
        /* Safari 和 Chrome */
        -o-transform: scale(0.1);
        /* Opera */
        -ms-transform: scale(0.1);
        /* IE 9 */
    }
}

.login {
    z-index: 2;
    position: absolute;
    width: 350px;
    border-radius: 5px;
    height: 500px;
    background: #388fff20;
    box-shadow: 0px 0px 5px #333333;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -175px;
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari 和 Chrome */
    -o-transition: all 1s;
    /* Opera */
}

.login-top {
    font-size: 24px;
    margin-top: 100px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #ffffff;
    margin-bottom: 50px;
}

.login-center {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 30px;
}

.login-center-img {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
}

.login-center-img>img {
    width: 100%;
}

.login-center-input {
    float: left;
    width: 230px;
    margin-left: 15px;
    height: 30px;
    position: relative;
}

.login-center-input input {
    z-index: 2;
    transition: all 0.5s;
    padding-left: 10px;
    color: #333333;
    width: 100%;
    height: 30px;
    border: 0;
    box-sizing: border-box;
    outline: none;
    position: relative;
}

.login-center-input input:focus {
    border: 1px solid #388fff20;
}

.btn {
	background-color: var(--black);
	background-image: -webkit-gradient(linear, left top, right top, from(var(--black)), color-stop(50%, var(--white)));
	background-image: linear-gradient(666deg, var(--black) 10%, var(--white) 50%);
	border-radius: 20px;
	border: 1px solid var(--black);
	color: #fff8;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	padding: 0.9rem 3.6rem;
	text-transform: uppercase;
	-webkit-transition: -webkit-transform 80ms ease-in;
	transition: -webkit-transform 80ms ease-in;
	transition: transform 80ms ease-in;
	transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.btn:active {
	-webkit-transform: scale(0.95);
	        transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.input {
	background-color: #388fff20;
	border: none;
	width: 100%;
}